---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
        Posts
      </div>
      <div class="post-list-body">
        
        <div class="all-posts" data-post-tag="All">
          {% for post in site.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">
                {{ post.date | date: "%b %-d, %Y" }}
                {% if post.tags.size > 0 %}
                  {% for tag in post.tags %} <span class="post-tag">{{ tag }}</span> {% endfor %}
                {% endif %}
              </span>
            </a>
          {% endfor %}
        </div>

        {% for tag in site.tags %}
          <div data-post-tag="{{tag | first}}">
            {% for posts in tag  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                      {{ post.title }}
                    </h2>
                    <span class="">
                      {{ post.date | date: "%b %-d, %Y" }}
                      {% if post.tags.size > 0 %}
                        {% for tag in post.tags %} <span class="post-tag">{{ tag }}</span> {% endfor %}
                      {% endif %}
                    </span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Tags
      </div>

      <a href="javascript:;" class="tags-list-item" data-tag="All">
        All<span class="my-badge"> {{site.tags | size}}</span>
      </a>
      {% for tag in site.tags %}
      <a href="javascript:;" class="tags-list-item" data-tag="{{ tag | first }}">
        {{ tag | first }} <span class="my-badge">{{ tag | last | size }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>